@font-face {
  font-family: 'Ogg';
  src: url(./fonts/OggRegular.woff2),
  url(./fonts/OggRegular.woff),
  url(./fonts/OggRegular.otf);
}

@font-face {
  font-family: 'Trade Gothic LT';
  src: url(./fonts/Trade\ Gothic\ LT\ Extended.woff2),
  url(./fonts/Trade\ Gothic\ LT\ Extended.woff),
  url(./fonts/Trade\ Gothic\ LT\ Extended.otf);
}

body {
  font-family: "Ogg", "Trade Gothic LT";
}

h1 {
  /* font-style: italic; */
  font-size: 96px;
  font-weight: 400;
  color: #fff;
  margin-top: 75px;
  margin-bottom: 75px;
}

a:hover,
a:focus {
  color: #fff;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  text-align: center;
  width: 100%;
  height: 805px;
  background-image: url(../images/background-image.jpg);
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 120px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  opacity: 80%;
}

.navigation {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.navigation li {
  margin-right: 50px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}

.navigation li a:hover,
.navigation li a:focus {
  color: #fff;
  text-decoration: underline;
}

.simplicity {
  display: block;
  margin-top: 27px;
  text-align: left;
  padding-left: 135px;
  color: #fff;
  opacity: 80%;
}

h1 {
  font-family: "Ogg";
}

.biography {
  display: block;
  color: #fff;
  opacity: 80%;
  margin-bottom: 75px;
}

.portrait {
  position: relative;
}

.line {
  position: absolute;
  bottom: 75px;
  color: #71870e;
  font-family: "Trade Gothic LT";
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  padding-left: 0;
  margin: 0 auto;
}
