

body {
  font-family: "Ogg";
  font-family: "Trade Gothic LT";
}


@font-face {
  font-family: 'Ogg Italy';
  src: url('fonts/OggLightItalic.woff2') format('woff2'),
       url('fonts/OggLightItalic.woff') format('woff'),
       url('fonts/OggLightItalic.otf') format('otf'),
       url('fonts/OggLightItalic.ttf') format('ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Ogg Medium';
  src: url('fonts/OggLight.woff2') format('woff2'),
       url('fonts/OggLight.woff') format('woff'),
       url('fonts/OggLight.otf') format('otf'),
       url('fonts/OggLight.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Trade Gothic';
  src: url('fonts/Trade\ Gothic\ LT\ Extended.woff2') format('woff2'),
       url('fonts/Trade\ Gothic\ LT\ Extended.woff') format('woff'),
       url('fonts/Trade\ Gothic\ LT\ Extended.otf') format('otf'),
       url('fonts/Trade\ Gothic\ LT\ Extended.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}


h1 {
  font-style: italic; 
  font-size: 96px;
  font-weight: 400;
  color: #fff;
  margin-top: 75px;
  margin-bottom: 75px;
}

a:hover,
a:focus {
  color: #fff;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  text-align: center;
  width: 100%;
  height: 805px;
  background-image: url(../images/background-image.jpg);
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 120px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  opacity: 80%;
}

.navigation {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.navigation li {
  margin-right: 50px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}

.navigation li a:hover,
.navigation li a:focus {
  color: #fff;
  text-decoration: underline;
}

.simplicity {
  display: block;
  margin-top: 27px;
  text-align: left;
  padding-left: 135px;
  color: #fff;
  opacity: 80%;
}

h1 {
  font-family: "Ogg";
}

.biography {
  display: block;
  color: #fff;
  opacity: 80%;
  margin-bottom: 75px;
}

.portrait {
  position: relative;
}

.line {
  position: absolute;
  bottom: 75px;
  color: #71870e;
  font-family: "Trade Gothic LT";
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  padding-left: 0;
  margin: 0 auto;
}
