.body {
  font-family: "Montserrat", sans-serif;
  font-family: "Quattrocento Sans", sans-serif;
}
.container {
  text-align: center;
  width: 100%;
  height: 805px;
  background-image: url(../images/background-image.jpg);
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 120px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  opacity: 80%;
}

.navigation {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.navigation li {
  margin-right: 50px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}

.navigation li a:hover,
.navigation li a:focus {
  color: #fff;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #fff;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #fff;
}

.simplicity {
  display: block;
  padding-top: 27px;
  text-align: left;
  padding-left: 135px;
  color: #fff;
  opacity: 80%;
}

.biography {
  display: block;
  color: #fff;
  opacity: 80%;
  margin-bottom: 25px;
}

.line {
  position: absolute;
  color: #71870e;
  font-family: "Quattrocento Sans";
  width: 1526px;
  font-weight: 400;
  font-size: 16px;
  left: -32px;
}

h1 {
  font-style: italic;
  font-size: 96px;
  font-weight: 400;
  color: #fff;
  margin-top: 75px;
  margin-bottom: 75px;
}
